<div class="container">
	<div class="row">
	  <!-- Left column -->

		<div class="col-sm-3">
	  	<div class="panel panel-default">
	  	  <div class="panel-heading">
	  	    <h3 class="panel-title">Information about user here?</h3>
	  	  </div>
	  	  <div class="panel-body">
	  	    Panel content (Information about user here?)
	  	  </div>
	  	</div>

	  	<div class="panel panel-default">
	  	  <div class="panel-heading">
	  	    <h3 class="panel-title">Photos Here?</h3>
	  	  </div>
	  	  <div class="panel-body">
	  	    Panel content (Photos Here?)
	  	  </div>
	  	</div>

	  	<div class="panel panel-default">
	  	  <div class="panel-heading">
	  	    <h3 class="panel-title">Followers here?</h3>
	  	  </div>
	  	  <div class="panel-body">
	  	    Panel content (Followers here?)
	  	  </div>
	  	</div>
	  </div><!-- End Left column -->


	  <!-- Post column -->
	  <div class="col-sm-8">
	  	<!-- Write a post -->
	  	<div class="panel panel-default">
	  	  <!-- Begin pannel heading -->
	  	  <div class="panel-heading">
	  	  	<ul class="nav nav-pills" role="tablist">
	  	  	  <li role="presentation" class="active"><a href="#">Status</a></li>
	  	  	  <li role="presentation"><a href="#">Photo</a></li>
	  	  	</ul>
	  	  </div><!-- End pannel heading -->

	  	  <!-- Begin pannel body -->
	  	  <div class="input-group input-group-unstyled">
	  	  	<span class="input-group-addon" style="background-color: transparent;">
	  	  	    <img class="media-object" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="profile_img" class="img-rounded" width="50" height="50">
	  	  	</span>
	  	    <textarea class="form-control" rows="6" placeholder="What's on your mind?"></textarea>
	  	  </div>
	  	  <!-- End pannel body -->

	  	  <!-- Begin pannel footer -->
	  	  <div class="panel-footer">
	  	  	<button class="btn btn-default pull-right">Post</button>
	  	  	<div class="clearfix"></div>
	  	  </div><!-- End pannel footer -->

	  	</div><!-- End Write a post -->

			<!-- Begin feed -->
			<div class="panel panel default">
					<!-- Begin feed header -->
					<div class="panel-heading">
						<img style = "display: inline-block" class="media-object" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="profile_img" class="img-rounded" width="50" height="50">
						<a style = "display: inline-block" href="#"><b>Username</b></a>
					</div>
					<!-- End feed header -->

					<!-- Begin feed body -->
					<div>
						<img src="http://www.visitmississippi.org/img/category/category-default-1-tn.jpg">
						<p>Liked by <a href="#">10</a> people</p>
						<h5>Caption Here...</h5>
					</div>
					<!-- End feed body -->

					<!-- Begin feed footer -->
					<div class="panel-footer">
						<button class="btn btn-primary">Like</button>
						<button class="btn btn-default">Comment</button>
						<button class="btn btn-default">Share</button>
					</div>
					<!-- End feed footer -->

					<div class="panel-heading">
						<img style = "display: inline-block" class="media-object" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="profile_img" class="img-rounded" width="50" height="50">
						<a style = "display: inline-block" href="#"><b>Username</b></a>
					</div>
					<div>
						<img src="http://www.visitmississippi.org/img/category/category-default-1-tn.jpg">
						<p>Liked by <a href="#">10</a> people</p>
						<h5>Caption Here...</h5>
					</div>
					<div class="panel-footer">
						<button class="btn btn-primary">Like</button>
						<button class="btn btn-default">Comment</button>
						<button class="btn btn-default">Share</button>
					</div>

					<div class="panel-heading">
						<img style = "display: inline-block" class="media-object" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="profile_img" class="img-rounded" width="50" height="50">
						<a style = "display: inline-block" href="#"><b>Username</b></a>
					</div>
					<div>
						<img src="http://www.visitmississippi.org/img/category/category-default-1-tn.jpg" class="img-responsive">
						<p>Liked by <a href="#">10</a> people</p>
						<h5>Caption Here...</h5>
					</div>
					<div class="panel-footer">
						<button class="btn btn-primary">Like</button>
						<button class="btn btn-default">Comment</button>
						<button class="btn btn-default">Share</button>
					</div>
				</div>
			</div>


	  <!-- Right column -->
	  <div class="col-sm-1">
	  </div>
		<!-- End Right column -->
	</div>
</div>
