<div class="container">
	<div class="row">
	  <!-- Left column -->
	  <div class="col-sm-3">
	  	<div class="panel panel-default">
	  	  <div class="panel-heading">
	  	    <h3 class="panel-title">Information about user here?</h3>
	  	  </div>
	  	  <div class="panel-body">
	  	    Panel content (Information about user here?)
	  	  </div>
	  	</div>

	  	<div class="panel panel-default">
	  	  <div class="panel-heading">
	  	    <h3 class="panel-title">Photos Here?</h3>
	  	  </div>
	  	  <div class="panel-body">
	  	    Panel content (Photos Here?)
	  	  </div>
	  	</div>

	  	<div class="panel panel-default">
	  	  <div class="panel-heading">
	  	    <h3 class="panel-title">Followers here?</h3>
	  	  </div>
	  	  <div class="panel-body">
	  	    Panel content (Followers here?)
	  	  </div>
	  	</div>
	  </div><!-- End Left column -->

	  <!-- Post column -->
	  <div class="col-sm-8">
	  	<!-- Write a post -->
	  	<div class="panel panel-default">
	  	  <!-- Begin pannel heading -->
	  	  <div class="panel-heading">
	  	  	<ul class="nav nav-pills" role="tablist">
	  	  	  <li role="presentation" class="active"><a href="#">Status</a></li>
	  	  	  <li role="presentation"><a href="#">Photo</a></li>
	  	  	</ul>
	  	  </div><!-- End pannel heading -->
	  	  
	  	  <!-- Begin pannel body -->
	  	  <div class="input-group input-group-unstyled">
	  	  	<span class="input-group-addon" style="background-color: transparent;">
	  	  	    <img class="media-object" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="profile_img" class="img-rounded" width="50" height="50">
	  	  	</span>
	  	    <textarea class="form-control" rows="6" placeholder="What's on your mind?"></textarea>
	  	  </div>
	  	  <!-- End pannel body -->

	  	  <!-- Begin pannel footer -->
	  	  <div class="panel-footer">
	  	  	<button class="btn btn-default pull-right">Post</button>
	  	  	<div class="clearfix"></div>
	  	  </div><!-- End pannel footer -->

	  	</div><!-- End Write a post -->
	  </div><!-- Post column -->

	  <!-- Right column -->
	  <div class="col-sm-1">
	  </div><!-- End Right column -->
	</div>
</div>